@font-face {
	font-family: 'Roboto', sans-serif;
	/*src: url("../public/fonts/SF-Pro-Text-Ultralight.otf");*/
}

.barStyling{
    background-color: white !important;
    height: 140px;
}

.topHeading{
	font-family: Roboto;
	font-weight: 700;
	color: black !important;
    margin-top: 40px !important;
    margin-left: 30px !important;
    padding-bottom: 20px;
	font-size: 24px;
}

.topSubheading{
	font-family: Roboto;
	font-weight: 400;
	color: #595959;
	font-size: 16px;
	line-height: 1.6;
    margin-top: 8px;
}

.topSubheadingSecondLine{
	font-family: Roboto;
	font-weight: 400;
	color: #595959;
	font-size: 16px;
	line-height: 1.6;
    margin-top: -18px;
}