.Container {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.RequestMap {
    flex: 3;
    height: 300px;
}

.Recipient {
    flex: 3;
    height: 300px;
}

.Spacer {
    flex: 1;
}